<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    
</head>
<body class="container mx-auto">
    <header class="p-8 mx-auto">
        <p class="text-2xl text-center">
            Complete Reset
        </p>
    </header>
    <p class="text-center">Reset link sent to your email, please use to complete reset</p>
    <p class="text-center text-xs text-blue-300"><a href="/">Return Home</a></p>
</body>
</html>
